name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: Ygrick
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Moscow
          
          # ТЕМА (цвета) - попробуйте 'nightowl', 'dracula', 'radical' или 'transparent'
          config_theme: nightowl
          
          # ПЛАГИН: 3D Календарь (изометрия)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year
          
          # ПЛАГИН: Красивые языки (радужная полоска)
          plugin_languages: yes
          plugin_languages_ignored: >-
            html, css
          plugin_languages_details: lines, percentage
          plugin_languages_sections: most-used
          plugin_languages_indepth: yes